:root {
    --color-myOrange: #F5861F;
    --color-myGrey: #cbcbca;
    --color-myWhite: #f5f5f5;
    --color-myBlack: #1a1a1a;
    --font-myBody: 'campton_Regular';
    --font-myHead: 'campton_Bold';
}

::selection {
    background-color: var(--color-myBlack);
    color: var(--color-myOrange);
}

@font-face {
    font-family: 'campton_Regular';
    src: local('Campton Font'), url('CamptonFont/CamptonMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'campton_Bold';
    src: local('Campton Font'), url('CamptonFont/CamptonBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/* 
@font-face {
    font-family: 'Sarchia';
    src: url(Fonts/54_Sarchia_Kirkuk.ttf);
} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--color-myBlack);
}

body {
    font-family: var(--font-myBody);
    background-color: var(--color-myWhite);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-myHead);
}

h2 {
    max-width: 900px;
    margin: 20px;
}

.main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.zherzamin_logo {
    width: 40%;
    margin: 20px;
}

.nav-link {
    position: relative;
    text-transform: uppercase;
    color: var(--color-myBlack);
    display: inline-block;
    font-size: 20px;
    transition: letter-spacing ease-in-out 300ms;
    z-index: 1;
}

.nav-link:hover {
    letter-spacing: 3px;
    transition: letter-spacing ease-in-out 300ms;
}

.crossLine {
    position: relative;
    cursor: pointer;
    z-index: 0;
    width: 100%;
    height: 0px;
}

.crossLine:before,
.crossLine:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: var(--color-myOrange);
}

.crossLine:before {
    left: -2.5px;
}

.crossLine:after {
    right: 2.5px;
    background: var(--color-myOrange);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.crossLine:hover:before {
    background: var(--color-myOrange);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.crossLine:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.footerSections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    max-width: 200px;
    margin: 20px;
    font-size: 30px;
    color: var(--color-myOrange);
    transform: scale(1);
    transition: transform ease-in-out 250ms;
}

.icon:hover {
    transform: scale(1.1);
    transition: transform ease-in-out 250ms;
}

.copyRightText {
    font-size: 16px;
}