:root {
    --color-myOrange: #F5861F;
    --color-myGrey: #cbcbca;
    --color-myWhite: #f5f5f5;
    --color-myBlack: #1a1a1a;
    --color-myBlue: #0086a8;
    --font-myBody: 'campton_Regular';
    --font-myHead: 'campton_Bold';
}

::selection {
    background-color: var(--color-myBlack);
    color: var(--color-myOrange);
}

@font-face {
    font-family: 'campton_Regular';
    src: local('Campton Font'), url('CamptonFont/CamptonMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'campton_Bold';
    src: local('Campton Font'), url('CamptonFont/CamptonBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/* 
@font-face {
    font-family: 'Sarchia';
    src: url(Fonts/54_Sarchia_Kirkuk.ttf);
} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

html {}

img {
    width: 100%;
}

body {
    font-family: var(--font-myBody);
    background-color: var(--color-myWhite);
    overflow-x: hidden;
}

h1 {
    margin: 10px;
    font-family: var(--font-myHead);
}


/* -------------------------------------------------------- */

.profile_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%;
    height: 100%;
    margin-top: 100px;
}

.profile_img_con {
    min-width: 400px;
    margin: 0px 20px;
}

.profile_img {
    width: 100%;
}

.profile_desc {
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}


/* .contributions_container {
    margin: 10px 0px;
} */

.contributions {
    color: var(--color-myBlue);
    text-decoration: underline;
}

.list_container {
    margin: 10px 20px;
}

.list_item {
    list-style: disc;
}